/.git/*
/bin/*
run-client/*
run-server/*
*.launch
/shelf/*
/workspace.xml
/.idea/*
/.settings/*
/.gradle/*
/eclipse/*
/gradle/*
/build/*
.gitattributes
*.ipr
*.iml
*.iws
*.classpath
*.project
hs_err_pid*
.mtj.tmp/
*.ctxt
*.log
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
/minecraft/*
*.code-workspace
/node_modules/*