@import url("../main.css");

.main{
    display: block;
    padding: 30px 0px 20px 0px;
}

.messages_list{
    float: left;
    background-color: var(--color_gray);
    border: 2px solid var(--color_salmon);
    border-radius: 6px;
    width: 20%;
    height: 600px;
}

.chat{
    background-color: rgba(231, 226, 226, 0.4);
    margin-left: 20%;
    padding: 8px;
    border: 2px solid var(--color_purple);
    border-radius: 6px;
    height: 600px;
}

.humbert{
    background-color: var(--color_white);
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.message_account{
    float: left;
    text-shadow: 4px 6px 10px var(--color_purple_2_shadow);
    background-color: var(--color_white);
    border-radius: 8px;
}

.humbert_name{
    padding: 0px 0px 0px 70px;
    margin: 0px;
}

.humbert_group{
    padding: 0px 0px 0px 70px;
    margin: 0px;
    font-size: 14px;
    color: var(--color_purple_2);
}

.the_msg{
    float: right;
}

.msg_content{
    padding: 0px 14px 0px 14px;
    background-color: #9fe6a0;
    border: 1px solid var(--color_black_shadow);
    border-radius: 8px;
    font-size: 16px;
}

.msg_date{
    margin-top: 0px;
    color: gray;
    font-size: 12px;
    padding-right: 4px;
    float: right;
}

.new_msg{
    background-color: var(--color_salmon);
    border: 1px solid var(--color_black_shadow);
    border-radius: 8px;
    position: relative;
    top: 71%;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.new_msg_p1{
    margin: 10px;
    font-size: 18px;
    padding-top: 10px;
    color: rgba(94, 94, 94);
}

.new_msg_p2{
    padding: 8px;
    border-radius: 8px;
    background-color: var(--color_purple_2);
    margin: 10px;
    font-size: 20px;
}