@import url("./colors.css");

@font-face{
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face{
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.otf") format("opentype");
  font-weight: 700;
}

*, *::before, *:after{
  box-sizing: border-box;
}

body, html{
  min-height: 100%;
}

body{
  background: var(--color_white) center center;
  background-size: cover;
}

a{
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
  transition: opacity 0.3s;
}

.body, .root{
  /*background: var(--color_white);*/
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  /*color: rgba(0, 0, 0, 0.6);*/
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
}

.container, .site{
}

.main{
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 22px;
}

.center/*, .header_nav*/{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*list-style-position: inside;*/
}

.bold{
  font-weight: bold;
}

.underline{
  text-decoration: underline;
}

.highlight{
  color: var(--color_white);
  background-color: var(--color_salmon);
  padding: 0px 3px 0px 3px;
  border-radius: 6px;
  text-shadow: none;
}

.header{
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: var(--color_gray);
  color: #FFF;
  padding: 8px;
  box-shadow: 0px 4px 14px var(--color_pink_shadow)/*rgba(0, 0, 0, 0.2);*/
}

.header_logo_link{
  margin-left: 10px;
}

.header_nav_link{
  font-size: 30px;
  padding-top: 8px;
  margin: 0px 12px;
  color: var(--color_black)/*rgba(255, 255, 255, 0.67)*/;
  transition: color 0.3s;
  transition: opacity 0.3s;
}

.header_nav_link:hover/*, .header_nav a*//*.active*/{
}

.header_nav_link_left{
  float: left;
}

.pimper_help{
  margin-top: 4px;
  margin-left: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: var(--color_purple_2);
  border-radius: 8px;
}

.pimper_help:hover{
  color: var(--color_white);
  background-color: var(--color_pink);
}

.header_nav_link_center{
  position: absolute;
  left: 40%;
  right: 40%;
  font-weight: bold;
  text-shadow: 4px 6px 10px var(--color_purple_2_shadow)/*rgba(0, 0, 0, 0.4)*/;
}

.header_nav_link_right{
  float: right;
  right: 0px;
  margin-top: 4px;
  font-size: 18px;
  padding: 10px;
  background-color: var(--color_purple_2);
  border-radius: 8px;
}

.header_nav_link_right:hover{
  color: var(--color_white);
  background-color: var(--color_pink);
}

.footer{
  padding: 0.2%;
  width: 100%;
  background-color: var(--color_gray);
  clear: both;
  text-align: center;
}

.pimper_account{
  margin-left: 20px;
  float: right;
  font-weight: bold;
  text-shadow: 4px 6px 10px var(--color_purple_2_shadow);
}

.account_icon{
  width : 50px; 
  height : 50px;
  border: 2px solid var(--color_purple);
  border-radius : 75px;
}